*{
    padding: 0;
    margin: 0;

}
.barra-nav{
    background-color: rgb(241, 245, 245);
    display: flex;
    justify-content: center;
padding: 10px;
gap: 50px;

}
.titulo{

  font-weight: bold;
  font-size: 30px;
text-align: left;

   
   
}
.home{
    display: flex;
    text-decoration: black ;

   
}
.fav{
    display: flex;
    text-decoration: black ;
 
    
}
.log{
   
    text-align: center;
    text-decoration: black ;

 
}
.img-1{
    display: grid;
    grid-template-columns: 5000rem, 5000rem  ;
    justify-content: center;
 
  

}
.img-2{
    display: grid;
    grid-template-columns: 5000rem, 5000rem  ;
   
    justify-content: center;
   

}
.img-3{
    display: grid;
    grid-template-columns: 5000rem, 5000rem  ;
    justify-content: center;
   
}
.rodapé{
    gap: 4rem;
  padding: 2rem;
    background-color: black;
   
}
.rod{
    text-align: center;
    color: #fff;
  
}
.modal{
    background-color: black;
    padding: 60px;
    width: 30rem;
    position: fixed;
    display: flex;
    justify-content: center;
 
}



